<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>National rod fishing rules: freshwater - GOV.UK</title>

    <!--[if gt IE 8]><!--><link href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" media="screen" rel="stylesheet">
<!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" media="print" rel="stylesheet">

    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-a0097118fe9226ce1ffde1ccfeb86c61be3607915046196c99f68b9548485ad3.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-42de30dac218d01e072e6120b3d86b521270506a1eec4b49aff9eb90292122b4.css">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-2d1ec720ca3ed5fdfa280ea6f1812b54a4b9a9c5e646c4ae1d3541d41aa9100a.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-ccc3e9aa26c84159d0be3be7b6278901f8e1a8317068eff7090269d9ae196e75.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-3becddbc46926a1a333457fdf02e4bc2f3758408f8649d6d178396ecebc044e3.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-63130f3b3fe879797c3ec86076d758bc14d0ea75658f6852aa7c990623a07174.css">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-24a0b731342111a17efd3afa51a45ccac38f880c25f435097c1e90a38a339ef7.css" crossorigin="anonymous" integrity="sha256-JKC3MTQhEaF+/Tr6UaRcysOPiAwl9DUJfB6Qo4oznvc=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="RXl/eYR7YJPonDPDv9dmTljodtlccL+saNiqm+/poyQWPRk3iUgfbzeDuGkTqDvS80k1DOSako0Gjesgi0k29w==">
<meta name="govuk:format" content="html_publication">
<meta name="govuk:schema-name" content="html_publication">
<meta name="govuk:analytics:organisations" content="&lt;EA199&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<meta name="govuk:content-id" content="7574b101-7153-453a-989d-b672b1e7b084">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-55d4b23fd76fff985b4b6a53584e592585a67e62ca41fbd95952333ac08e738a.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    
    
  
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"2","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/rod-fishing-rules-freshwater" data-track-options='{"dimension28":"2","dimension29":"Rod fishing rules: freshwater"}' class="" aria-current="false" href="/government/publications/rod-fishing-rules-freshwater">Rod fishing rules: freshwater</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="html-publication" lang="en">
      
<div class="publication-external">
  <ol class="organisation-logos">
      <li class="organisation-logo">
        <div class="govuk-organisation-logo department-for-environment-food-rural-affairs">
    <a href="/government/organisations/environment-agency" class="logo-container logo-link">

    <img class="logo-image" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/organisation/logo/199/EAlogo.png" alt="Environment Agency">

    </a>
</div>

      </li>
  </ol>
</div>

<header class="publication-header" id="contents">
  <div class="html-publication-title">
      <p class="context">Prototype Byelaw Guidance</p>
    <h1>National and regional byelaws - freshwater fishing with a rod and line</h1>
  </div>
  Published 22 December 2017
</header>

<div class="grid-row sidebar-with-body" data-module="sticky-element-container">
    <div class="column-quarter-desktop-only">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#overview-of-national-byelaws">
            <span class="app-c-contents-list__number">1.</span><span class="app-c-contents-list__numbered-text">Overview of National Byelaws</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#when-and-where-you-can-fish">
            <span class="app-c-contents-list__number">2.</span><span class="app-c-contents-list__numbered-text">When and where you can fish</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#legal-fishing-tackle-lures-and-bait">
            <span class="app-c-contents-list__number">3.</span><span class="app-c-contents-list__numbered-text">Legal fishing tackle, lures and bait</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#catch-limits-size-limits-catch-returns">
            <span class="app-c-contents-list__number">4.</span><span class="app-c-contents-list__numbered-text">Catch limits, size limits, catch returns </span>
</a>        </li>
     
    </ol>
  </nav>

    </div>

  <div class="print-wrapper">
    <div class="print-meta-data">
      <p>
  <img class="print-meta-data-licence" src="https://assets.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png" alt="Open government licence min">
</p>
<p>
  © Crown copyright 2017
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available at https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/national-rod-fishing-rules-freshwater
</p>



    </div>
  </div>

  <div class="column-three-quarters-desktop-only ">
    <div class="govuk-govspeak-html-publication">
  
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">



<h2 id="overview-of-national-byelaws">
<span class="number">1. </span>Overview of National Byelaws</h2>

<p>The National Byelaws outlined here are legally enforceable rules for freshwater fishing with a rod and line across England and Wales.</p>

<div class="call-to-action">
<p>The most important rule is this: if you are aged 13 or older you must own a valid <a href="https://www.gov.uk/fishing-licences">rod licence</a> to fish in England and Wales. This rule also applies at private fisheries.</p>
</div>

<h4>National Byelaws, Regional Byelaws and Local Byelaws</h4>
<p>England is divided into six regions (see map). Each of these regions has its own set of supplemental byelaws which are linked to from this page.</p>
<p>Within these regional byelaws you may also find examples of local byelaws. These are rules which apply to one specific water or location.</p>
<div class="logo-image"><img src="/public/images/region-map.png" width="" height="" alt=""></div>


<p>Check for supplemental byelaws for your region to find out:</p>

<ul>
<li>if there are waters where you are not allowed to fish</li>
<li>if start and end dates of 'close seasons' differ from national rules</li> 
<li>which waters and species are covered by a close season</li>
<li>extra restrictions on tackle and bait</li>
<li>extra restrictions on size limits and catch limits</li>
<li>restrictions on fishing near specific obstacles, like weirs</li>
</ul>

<h3>Regional byelaws</h3>
<p>The six sets of supplemental regional byelaws:</p>
<ul><li><a href="north-west-region.html">North West</a></li>
<li><a href="north-east-region.html">North East [divided into Yorkshire and Northumbria]</a></li>
<li><a href="anglian-region.html">Anglian</a></li>
<li><a href="midlands-region.html">Severn & Trent [Midlands]</a></li>
<li><a href="south-east-region.html">South East [including Thames Byelaws]</a></li>
<li><a href="south-west-region.html">South West</a></li></ul>


<p>Byelaws specific to <a href="http://naturalresourceswales.gov.uk/days-out/things-to-do/fishing/">Wales</a>, <a href="http://www.gov.scot/Topics/marine/Salmon-Trout-Coarse">Scotland</a> and <a href="https://www.nidirect.gov.uk/articles/angling-rod-licences-explained">Northern Ireland</a> are listed on other Gov web pages.</p>

<div class="call-to-action"><h3>Why we have byelaws</h3> <p>The purpose of these rules is to protect freshwater fish and their habitats and promote their wellbeing.</p> <p>If you see illegal fishing practices, pollution incidents, dead or distressed fish - call our 24 hour incident hotline: 0800
807060.</p></div>

<h2 id="when-and-where-you-can-fish">
<span class="number">2. </span>When and where you can fish</h2>

<p>Before you go fishing in England and Wales you must buy a rod licence. You can buy a rod licence to cover 1 day, 8 days, or 12 months for:</p>
<ul><li>Trout and coarse fish using 1, 2 or 3 rods</li>
<li>Salmon and migratory trout (1 rod)</li>
</ul>

<p>A free ‘junior licence’ is mandatory for children aged between 13 and 16 years old.</p>

<h3>Close Seasons</h3>

<p>A close season is a period in each year when certain types of fishing must stop to allow fish to successfully breed.</p> 

<p>Generally close seasons apply to waters accessible to migratory fish such as rivers, streams and drains, also waters designated at Specified Sites of Special Scientific Interest (SSSI's).</p>

<div class="call-to-action"><p>The annual Close Season for coarse fishing lasts from 15th March to 15th June.</p> </div>

<p>In almost all stillwaters not accessible to migratory fish - including canals, reservoirs and ponds, there is no close season.</p>

<h3>Close Season for Salmon, Migratory Trout and Char</h3> 

<p>The close season rules for Salmon and Migratory Trout are a little more complicated as rules differ region by region and, in some case, river by river.</p>

<div class="call-to-action"> <h3>The close season ends 16 June.</h3> <p>To find out when it starts, or when restricted methods of fishing may begin, please check supplemental regional byelaws.</p> <p>Very broadly, rules follow this pattern:</p>


<ul><li>Close season - no fishing - early winter period</li><li>Open season - restricted to fishing with artificial lure or fly, where all catches must be returned - early spring onwards</li><li>Open season - catch and keep - June 16 onwards</li></ul>
</div> 


<p>The various regional rules may also affect catch limits, size limits, types of lures and bait, even days of the week and hours of the day when fishing must be suspended.</p> 


<h4>Supplemental Regional Byelaws for Salmon and Migratory Trout:</h4>

<ul><li><a href="north-west-region.html#salmon-close">North West</a></li>
<li><a href="north-east-region.html#salmon-yclose">North East - Yorkshire</a></li>  
<li><a href="north-east-region.html#salmon-nclose">North East - Northumbria</a></li>  
<li><a href="anglian-region.html#salmon-close">Anglian</a></li>
<li><a href="midlands-region.html#salmon-close">Severn & Trent [Midlands]</a></li>  
<li><a href="south-east-region.html#salmon-close">South East [including Thames]</a></li>
<li><a href="south-west-region.html#salmon-close">South West</a></li></ul>

<p>Fishing with a rod and line for rainbow trout (a non-native species) is permitted year round in waters with no statutory close season.</p>

<h3 id="eel">Fishing for Eels - when and where</h3>

<p>Fishing with a rod and line for eels is permitted year round in waters with no statutory close season. </p>
<p>There are some supplemental regional rules for eels and shad, some covering fishing during the close season:</p>

<ul><li><a href="north-west-region.html#eels">North West</a></li>
<li><a href="anglian-region.html#eels">Anglian</a></li>
<li><a href="south-east-region.html#eels">South East [incl. Thames]</a></li>
<li><a href="south-west-region.html#sw-coarse-close">South West</a></li></ul>

<h3>Stillwaters and canals where a close season is enforced</h3>

<p>There are small numbers of canals which are in fact canalised rivers, and therefore enforce a close season. 

<p>In addition to this, fishing may be suspended in some stillwaters designated 'Specified Sites of Special Scientific Interest' (SSSI’s).</p> 

<h4>A list of canalised rivers and SSSI’s by region:</h4>

<ul>
<li><a href="north-east-region.html#canal-sssi">North East</a></li>  
<li><a href="anglian-region.html#canal-sssi">Anglian</a></li>
<li><a href="midlands-region.html#canal-sssi">Severn & Trent [Midlands]</a></li>  
<li><a href="south-east-region.html#canal-sssi">South East</a></li>
<li><a href="south-west-region.html#canal-sssi">South West</a></li></ul>


<h3>Weirs and obstacles where you cannot fish</h3>
<p>While there are no national rules for fishing near Weirs, there are some regional and local rules. These relate to istances above or below specific weirs, or other obstacles, where fishing is not permitted.<p>

<ul>
    <li><a href="north-west-region.html#weirs">North West</a></li>
<li><a href="north-east-region.html#weirs">North East</a></li>  
<li><a href="midlands-region.html#weirs">Midlands [Severn & Trent]</a></li>  
<li><a href="south-west-region.html#weirs">South West</a></li></ul>


<h3>Dates are inclusive</h3>

<p>All dates mentioned in these byelaws are 'inclusive'. This means a stated period, such as 15th March to 15th June, includes the full day of 15th March and the full day of 15 June. </p>

<div class="call-to-action"><p>For a comprehensive list of places to fish in England and Wales visit the <a href="http://www.anglingtrust.net/">Angling Trust</a> website.</p></div>

<h2 id="legal-fishing-tackle-lures-and-bait">
<span class="number">3. </span>Legal fishing tackle, lures and bait</h2>



<h3>Types of tackle and fishing methods which are prohibited</h3>

<p>It is illegal to fish using a firearm, otter lath, wire or snare, crossline, setline, spear, stroke-haul or snatch.</p>  

<p>The use of gaffs and tailers (pictured) is prohibited regardless of the type of fishing.</p> 

<p>A gaff is a pole with a hook at the end used to land large fish. A tailer is a pole with a type of lasso at the end, also used to land large fish.</p> 

<div class="logo-image"><img src="/public/images/gaff-tailer.png" class="img-responsive" width="" height="" alt=""></div>

<p>Any other legal fishing methods and instruments first require separate <a href="https://www.gov.uk/topic/environmental-management/fisheries-rod-licensing/latest">authorisation from the Environment Agency</a>.</p>

<h3>Foul hooking</h3>

<p>A foul hook is when a hook accidentally catches the body or fin of a fish (anywhere other than the mouth or throat).</p> 

<p>Any fish caught by foul-hook should be freed from the hook and returned immediately.</p>


<h3>Keepnets, keepsacks and landing nets</h3>

<p>Any keepnet with knotted meshes or meshes of metallic material is prohibited. </p> 

<p>Any keepnet with holes in the mesh larger than 25mm, or less than 2.0 metres in overall length is prohibited. </p> 

<p>Any keepnet with supporting rings or frames greater than 40cm apart is prohibited (this excludes the distance from the opening to the first ring or frame). </p> 

<p>Any keepnet with rings less than 120cm in circumference is prohibited.</p> 

<p>Any keepsack not constructed of a soft, dark coloured, non-abrasive, water-permeable fabric is prohibited. </p> 

<p>Any keepsack less than 120cm by 90cm (if rectangular) or 150cm by 30cm by 40cm (if used with a frame) is prohibited.</p> 
 
<p>It is illegal to hold more than one fish in a single keepsack.</p> 

<p>Landing nets with knotted meshes or meshes of metallic material are prohibited.</p> 



<h3 id=use-of-rods>Use of rods</h3>

<p>It is illegal to fish for salmon, migratory trout and char on rivers and streams using more than one rod and line.</p> 

<p>It is illegal to fish for salmon, migratory trout on reservoirs, lakes, and ponds with more than two rods and lines at the same time.</p> 

<p>It is illegal to fish for any coarse fish or eels with more than four rods and lines at the same time.</p> 
 
<p>When fishing in combination - for example, fishing for salmon and coarse fish simultaneously - the limit is a total of four rods and lines.</p> 

<p>When fishing with multiple rods and lines, each rod must be placed close together so that the distance between the butts of the rods does not exceed three metres.</p> 


<p>It is illegal to leave a rod and line unattended with its bait or hook in the water. Anglers should be able at all times to exercise control over the rod and line.</p> 

<h3>Rods not affected by licence limits</h3>
<p>The following rods are not affected by licence limits unless they have hooks attached:</p>

<ul><li>spod rods (used to propel bait into water)</li>
<li>marker rods (used to mark out lines)</li></ul>

<h3>Bait and lures</h3>

<p>The use of crayfish, dead or alive, as bait is prohibited.<p>

<p>It is legal to fish using live bait - using a small fish to a catch bigger fish - providing that the bait fish is taken from the same water. </p>
<p>Moving fish alive or dead, or any other creature or plant life, from one water to another can spread diseases and is prohibited.</p>

<p>The transfer of any fish or fish spawn from one water to another requires the written consent of the Environment Agency and adherence to any conditions imposed in the written consent.</p> 



<div class="call-to-action">
<p><a rel="external" href="http://www.rspca.org.uk/adviceandwelfare/litter/fishing">Dispose of your tackle safely</a> to avoid harm to wildlife.</p>
</div>

<h2 id="catch-limits-size-limits-catch-returns">
<span class="number">4. </span>Catch limits, size limits, catch returns</h2>


<p>There are legal limits on the number, size and type of fish you can catch and keep. Fines can be imposed if these rules are broken.</p>
<p>You must return fish you cannot keep to the water unharmed.</p>
<h3>Daily catch limit for coarse fish</h3>

<p>It is legal to take:</p>


<ul><li>a total of 15 coarse fish of not more than 20cm per day - excluding grayling.</li>
<li>1 pike of not more than 65cm per day.</li>
<li>2 grayling of not less than 30cm and not more than 38cm per day.</li></ul>
<p>You can also take:</p>
<ul><li>minor or ‘tiddler’ species, such as gudgeon</li>
<li>non-native species</li>
<li>ornamental varieties of native species such as ghost or koi carp</li></ul>
<p>The size of any fish is measured from the tip of the snout to the fork or cleft of the tail.</p>

<div class="logo-image"><img src="/public/images/fish_measure.png" class="img-responsive" width="" height="" alt=""></div>

<p>You need permission from the owner to fish and take fish from private fisheries or waters on privately owned land.</p>

<p>Eels (except conger eels) or shad must be returned to the same water unharmed.</p>

<p>Fish that are not legal to keep should be returned to the same water with as little injury as possible. This should be done immediately or, if kept in a keepnet or keepsack, on or before completion of fishing.</p>

<h3>Catching and keeping salmon</h3>

<p>It is illegal to catch and remove any live or dead salmon from any waters or banks before the 16th day of June in any calendar year. There are various supplemental regional rules and variations of dates.</p>

<p>Salmon caught unintentionally must be returned immediately to the same water with the least possible injury.</p>

<p>Before the 16th day of June it is legal to fish for salmon with rod and line using an artificial fly or artificial lure - but catches must be returned unharmed.</p>

<p>It is illegal to sell, or keep with the intention of selling, any salmon or migratory trout which has been caught with a rod and line. You can be fined for selling rod and line-caught salmon or sea trout in England and Wales.</p> 

<h3>Supplemental regional byelaws on daily catch limits for salmon and migratory trout</h3>

<p>There are numerous supplementary regional rules on catch limits for salmon, migratory trout and char:</p>

<ul>
<li><a href="north-west-region.html#catch-limits-size-limits-catch-returns">North West</a></li>  
<li><a href="north-east-region.html#catch-limits-size-limits-catch-returns">North East</a></li> 

<li><a href="midlands-region.html#catch-limits-size-limits-catch-returns">Severn & Trent [Midlands]</a></li>  
<li><a href="south-east-region.html#catch-limits-size-limits-catch-returns">South East</a></li>
<li><a href="south-west-region.html#catch-limits-size-limits-catch-returns">South West</a></li></ul>

<h2 id="catch-returns">Salmon and Migratory Trout - 'Catch Return' reporting</h2>


<div class="call-to-action">A 'Catch Return' report is a written record of an angler's annual salmon and migratory trout fishing activity.</div>
<p>Fishing for salmon or migratory trout requires the <a href="https://www.gov.uk/fishing-licences">correct type of licence</a>.</p> 
<p>A part of obtaining this type of licence is an agreement to complete an annual Catch Return report on or before the 1st day of January of the following year.</p>


<p>This means making a record of when you went fishing, what you caught, and the weight and length of each catch.</p>

<p>Even if you don’t catch anything, this information should be recorded.</p> <p>The Catch Return report helps the Environment Agency understand the health and wellbeing of salmon and sea trout.</p>

<p>A good idea is to keep a notebook with your fishing tackle.</p>

<p>You can submit your Catch Return online at <a href="https://www.gov.uk/fishing-licences">www.gov.uk/catch-return</a> or use the form printed on the back of the licence letter.</p>

<p>There are penalties for not completing an annual Catch Return report.</p> 




</div>
</div>

</div>

  </div>

  <div data-sticky-element class="govuk-sticky-element">
    <a class="back-to-content" data-track-category="contentsClicked" data-track-action="backToContentsLinkClicked" data-track-label="contents" data-module="track-click" href="#contents">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
        <input id="url" name="url" type="hidden" value="https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/national-rod-fishing-rules-freshwater">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-9f5e3818b735a3881a69a82bdd7e5edd66a1bc892cbc3487ceaf390216996360.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-b18efa45d0ff3dfd07638aad58b9964e510c8d4ef9c4a8a2d315683f55501ddd.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
