<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Rod fishing rules: South East - GOV.UK</title>

    <!--[if gt IE 8]><!--><link href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" media="screen" rel="stylesheet">
<!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" media="print" rel="stylesheet">

    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-a0097118fe9226ce1ffde1ccfeb86c61be3607915046196c99f68b9548485ad3.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-42de30dac218d01e072e6120b3d86b521270506a1eec4b49aff9eb90292122b4.css">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-2d1ec720ca3ed5fdfa280ea6f1812b54a4b9a9c5e646c4ae1d3541d41aa9100a.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-ccc3e9aa26c84159d0be3be7b6278901f8e1a8317068eff7090269d9ae196e75.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-3becddbc46926a1a333457fdf02e4bc2f3758408f8649d6d178396ecebc044e3.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-63130f3b3fe879797c3ec86076d758bc14d0ea75658f6852aa7c990623a07174.css">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-24a0b731342111a17efd3afa51a45ccac38f880c25f435097c1e90a38a339ef7.css" crossorigin="anonymous" integrity="sha256-JKC3MTQhEaF+/Tr6UaRcysOPiAwl9DUJfB6Qo4oznvc=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="YAuEYw/TCLB8h8zYxW59KICz2bOg8LFVytuuyVBD4TT26v4CNqYn6WT6bymeBiXVUMJikg/IWZF9RHvOmhhzSQ==">
<meta name="govuk:format" content="html_publication">
<meta name="govuk:schema-name" content="html_publication">
<meta name="govuk:analytics:organisations" content="&lt;EA199&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<meta name="govuk:content-id" content="c98573e8-f57a-4d69-927a-decc5e1faa07">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-55d4b23fd76fff985b4b6a53584e592585a67e62ca41fbd95952333ac08e738a.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body class="draft">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    
    
  
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"2","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/rod-fishing-rules-freshwater" data-track-options='{"dimension28":"2","dimension29":"Rod fishing rules: freshwater"}' class="" aria-current="false" href="/government/publications/rod-fishing-rules-freshwater">Rod fishing rules: freshwater</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="html-publication" lang="en">
      
<div class="publication-external">
  <ol class="organisation-logos">
      <li class="organisation-logo">
        <div class="govuk-organisation-logo department-for-environment-food-rural-affairs">
    <a href="/government/organisations/environment-agency" class="logo-container logo-link">

    <img class="logo-image" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/organisation/logo/199/EAlogo.png" alt="Environment Agency">

    </a>
</div>

      </li>
  </ol>
</div>

<header class="publication-header" id="contents">
  <div class="html-publication-title">
      <p class="context">Prototype  guidance</p>
    <h1>Regional rod fishing byelaws: South East Region</h1>
  </div>
  Published 27 December 2017
</header>

<div class="grid-row sidebar-with-body" data-module="sticky-element-container">
    <div class="column-quarter-desktop-only">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#overview-of-national-byelaws">
            <span class="app-c-contents-list__number">1.</span><span class="app-c-contents-list__numbered-text">Overview of South East Byelaws</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#when-and-where-you-can-fish">
            <span class="app-c-contents-list__number">2.</span><span class="app-c-contents-list__numbered-text">When and where you can fish</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#legal-fishing-tackle-lures-and-bait">
            <span class="app-c-contents-list__number">3.</span><span class="app-c-contents-list__numbered-text">Legal fishing tackle, lures and bait</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#catch-limits-size-limits-catch-returns">
            <span class="app-c-contents-list__number">4.</span><span class="app-c-contents-list__numbered-text">Catch limits, size limits, catch returns </span>
</a>        </li>
     
    </ol>
  </nav>

    </div>

  <div class="print-wrapper">
    <div class="print-meta-data">
      <p>
  <img class="print-meta-data-licence" src="https://assets.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png" alt="Open government licence min">
</p>

<p>
  © Crown copyright 2017
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available at https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/rod-fishing-rules-severn-and-trent-catchments
</p>



    </div>
  </div>

  <div class="column-three-quarters-desktop-only ">
    <div class="govuk-govspeak-html-publication">
  
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<h2 id="where-the-byelaws-rules-apply">
<span class="number">1. </span>Overview of South East Byelaws</h2>



<p>These byelaws for the South East Region apply to anyone fishing with a rod and line for salmon, trout, coarse fish, eels, smelt and lamprey in all freshwater fisheries.</p>

<div class="logo-image"><img src="/public/images/region-map-south-east.png" width="" height="" alt=""></div>


<p>Within the South East Region there are rules that apply to:</p>

<ul><li>The 'Thames Byelaw
Area', which include the catchments of the Rivers Darent and Cray</li>
<li> Southern Byelaw Area - see the
map below</li></ul>
<div class="logo-image"><img src="/public/images/south-east-region-thames-and-south-map.png" width="" height="" alt=""></div>
<p>Private fisheries may enforce their own additional rules, but national and regional byelaws still apply.
</p>



<h2 id="when-you-can-fish-close-seasons">
<span class="number">2. </span>When and where you can fish</h2>

<p>Regional close season rules apply across both the Thames and Southern areas. These are:</p>
 
<h3 id="salmon-close">Close Season - Thames Byelaw Area</h3>

<ul><li>Coarse fishing in rivers, streams, drains: national byelaws apply</li> 
<li>Eels in rivers, streams, drains: national byelaws apply, but there is no close season on the tidal River Thames downstream of the Thames Barrier</li>
<li>Brown and Rainbow Trout in rivers, streams, drains: 1st October to 31st March</li> 
<li>Brown trout in fully enclosed waters: no close season</li> 
<li>Rainbow trout in all stillwaters: no close season</li>
<li>Salmon and Migratory Trout in all waters: 1st October to 31st March</li> </ul>
    
<h3>Close Season - Southern Byelaw Area</h3>

<ul><li>Coarse fishing in rivers, streams, drains: <a href="#link-to-natioanl-byelaws">national byelaws</a> apply</li> 
<li>Eels in rivers, streams, drains: national byelaws apply</li>
<li>Brown and Rainbow trout in rivers, streams, drains: 1st November to 2nd April</li> 
<li>Brown trout in fully enclosed waters: no close season</li> 
<li>Rainbow trout in all stillwaters: no close season</li>
<li>Salmon and Migratory Trout in all waters: 1st November to 30th April</li></ul>     
    
    
    
<h3 id="canal-sssi">Canals and stillwaters retaining a close season</h3>

<p>A small number of canals in the South East region are subject to a close season (15 March to 15 June). These are:</p> 

<ul><li>Kennet and Avon Canal, downstream of its confluence with the River Kennet at
Kintbury</li> 
<li>Lee Navigation, upstream of Aqueduct Lock</li>
<li>Two designated stretches of the Basingstoke Canal, from <a href="https://www.google.com/maps/search/?api=1&query=51.257239	-0.97103341" target="_blank">SU719514</a> to <a href="https://www.google.com/maps/search/?api=1&query=51.308412	-0.61408936" target="_blank">SU967575</a>, and <a href="https://www.google.com/maps/search/?api=1&query=51.327335	-0.54318959" target="_blank">TQ016597</a>
to <a href="https://www.google.com/maps/search/?api=1&query=51.343870	-0.49959082" target="_blank">TQ046616</a>.</li> <li>
The Wey Navigation is classed as a river and therefore is subject to a close season</li> </ul>

<h3>Sites of Special Scientific Interest (SSSI)</h3>

<p>Some stillwaters have been designated 'Sites of Special Scientific Interest' (SSSI) and angling at these waters is prohibited during the close season.</p> 
<p>Below is a list of SSSI's in the South East:</p>

<table>
  <thead>
    <tr>
      <th>County</th>
      <th>Water</th>
      <th>OS grid ref / map</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bedfordshire</td>
      <td>Felmersham Gravel Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.214913,-0.55092376" target="_blank">SP991584</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Houghton Regis Marl Lakes </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.900936,-0.53633791" target="_blank">TL008235</a></td>
    </tr>
  
    <tr>
      <td>Berkshire</td>
      <td>Heath Lake</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.379808,-0.81022920" target="_blank">SU829652</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Rapley Lakes</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.379800,-0.72401467" target="_blank">SU889653</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.374217,-0.70692893" target="_blank">SU901647</a> –
within Broadmoor to
Bagshot Woods and Heaths
SSSI.</td>
    </tr>
    <tr>
      <td> </td>
      <td>Swinley Park and Brick Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.399482,-0.71484192" target="_blank">SU895675</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.394829,-0.70059840" target="_blank">SU905670</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Wasing Wood Ponds 
 </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.368528,-1.1710919" target="_blank">SU578636</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.365780,-1.1639594" target="_blank">SU583633</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Wraysbury and Hythe Gravel Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.453212,-0.54206506" target="_blank">TQ014737</a></td>
    </tr>
    <tr>
      <td>East Sussex</td>
      <td>Ashburnham Park </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.907788,0.40950388" target="_blank">TQ695148</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Ashdown Forest - Pippingford Lakes
only
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.051050,0.067349946" target="_blank">TQ450300</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Eridge Park </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.087269,0.24888879" target="_blank">TQ576344</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Herstmonceux Park </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.872252,0.34370628" target="_blank">TQ650107</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Pett Level </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.909396,0.70548738" target="_blank">TQ903157</a></td>
    </tr>
 <tr>
      <td>East Sussex, Kent</td>
      <td>Walland Marsh (Royal Military
Canal)
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.971273,0.75181891" target="_blank">TQ933227</a> – <a href="https://www.google.com/maps/search/?api=1&query=51.052824,0.83942147" target="_blank">TQ991320</a></td>
    </tr>
    <tr>
      <td>Essex</td>
      <td>Abberton Reservoir 

</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.825876,0.85731898" target="_blank">TL970180</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Colne Estuary </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.799632,1.0079706" target="_blank">TM075155</a></td>
    </tr>
    <tr>
      <td>Gloucestershire</td>
      <td>Frampton Pools </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.763831,-2.3593045" target="_blank">SO753073</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Soudley Ponds </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.798417,-2.4915400" target="_blank">SO662112</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Cotswold Water Park </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.635807,-2.0013970" target="_blank">SU000930</a></td>
    </tr>
    <tr>
      <td>Greater London</td>
      <td>Mid Colne Valley </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.689402,-1.7120748" target="_blank">SU200990</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Brent Reservoir </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.595601,-0.49564206" target="_blank">TQ043896</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Denham Lock Wood </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.571444,-0.24535674" target="_blank">TQ217873</a></td>
    </tr>
    <tr>
      <td>Hampshire</td>
      <td>Alresford Pond </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.094152,-1.1545856" target="_blank">SU593331</a>
</td>
    </tr>
      <tr>
      <td> </td>
      <td>Avon Valley (Bickton-Blashford) </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.889294,-1.7881157" target="_blank">SU150100</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Bramshill </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.338438,-0.90174365" target="_blank">SU766605</a></td>
    </tr>  <tr>
      <td> </td>
      <td>Fleet Pond </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.289112,-0.82261270" target="_blank">SU822551</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Lower Test Valley 
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.936028,-1.4890470" target="_blank">SU360153</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Shortheath Common </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.123451,-0.89398830" target="_blank">SU775366</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Southampton Common </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.928466,-1.4108701" target="_blank">SU415145</a></td>
    </tr>
    <tr>
         <tr>
      <td> </td>
      <td>Titchfield Haven </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.828536,-1.2360644" target="_blank">SU539035</a></td>
    </tr>
    <tr>
         <tr>
      <td> </td>
      <td>Warren Heath Ponds </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.333004,-0.89756718" target="_blank">SU769599</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.322938,-0.87915191" target="_blank">SU782588</a>
</td>
    </tr>
    <tr>
         <tr>
      <td> </td>
      <td>Castle Bottom to Yateley Common  </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.321576,-0.83182741" target="_blank">SU815587</a></td>
    </tr>
    <tr>
         <tr>
      <td> </td>
      <td>New Forest– Hatchet and Cadnam
ponds only
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.871637,-1.5778635" target="_blank">SU298081</a></td>
    </tr>
    <tr>
      <td>Hampshire, Surrey</td>
      <td>Basingstoke Canal </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.257239,-0.97103341" target="_blank">SU719514</a> – <a href="https://www.google.com/maps/search/?api=1&query=51.308412,-0.61408936" target="_blank">SU967575</a> and
<a href="https://www.google.com/maps/search/?api=1&query=51.327335,-0.54318959" target="_blank">TQ016597</a> – <a href="https://www.google.com/maps/search/?api=1&query=51.343870,-0.49959082" target="_blank">TQ046616</a></td>
    </tr>
     <tr>
      <td>Kent</td>
      <td>Delph Ditch and
Abbot's Court northern 2 lakes
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.445158,0.63917893" target="_blank">Q835751</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.421288,0.58026429" target="_blank">TQ795723</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Dungeness </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.925022,0.91559520" target="_blank">TR050180</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Holborough to Burham Marshes </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.329528,0.45595587" target="_blank">TQ712618</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Marden Meadows </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.172594,0.51913998" target="_blank">TQ762445</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>North Warren & Thorpeness Mere
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.177961,1.5967106" target="_blank">TM460594</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Medway Estuary and Marshes
excluding Stoke Angling Club reservoir
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.416826,0.65912125" target="_blank">TQ850720</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Oldbury and Seal Chart </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.279686,0.25110526" target="_blank">TQ571558</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Orlestone Forest </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.080079,0.82823949" target="_blank">TQ982350</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Romney Warren </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.997407,0.97002103" target="_blank">TR085262</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Sandwich Bay excluding
Cottington Lakes and
Finglesham Ponds
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.277025,1.3723712" target="_blank">TR353585</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.229286,1.3746077" target="_blank">TR357532</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.232678,1.3504988" target="_blank">TR340535</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Scotney Castle </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.089417,0.41179313" target="_blank">TQ690350</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Sevenoaks Gravel Pits 
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.290899,0.18137321" target="_blank">TQ522569</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>South Thames Estuary and Marshes
excluding
Beckley Hill ponds
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.477766,0.54744556" target="_blank">TQ770785</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.439872,0.46906727" target="_blank">TQ717741</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Stodmarsh </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.311908,1.1869151" target="_blank">TR222618</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>The Swale excluding Murston pits </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.366836,0.87174337" target="_blank">TR000670</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Walland Marsh </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.982038,0.79092714" target="_blank">TQ960240</a></td>
    </tr>
     <tr>
      <td>Oxfordshire</td>
      <td>Wychwood </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.848797,-1.5150760" target="_blank">SP335168</a></td>
    </tr>
     <tr>
      <td>Surrey</td>
      <td>Ash to Brookwood Heaths </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.277727,-0.68239856" target="_blank">SU920540</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.281630,-0.63066797" target="_blank">SU956545</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.290585,-0.62753334" target="_blank">SU958555</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.274622,-0.64664638" target="_blank">SU945537</a></td>
    </tr>
      <tr>
      <td> </td>
      <td>Bookham Commons </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.296464,-0.38351990" target="_blank">TQ128565</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Chobham Common</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.373930,-0.60349161" target="_blank">SU973648</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Epsom and Ashtead Commons </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.328645,-0.30631395" target="_blank">TQ181602</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Godstone Parks</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.247532,-0.062842041" target="_blank">TQ353516</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.241075,-0.053084492" target="_blank">TQ360509</a></td>
    </tr>
      <tr>
      <td> </td>
      <td>Hedgecourt </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.145934,-0.064239404" target="_blank">TQ355403</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Langham Pond</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.439044,-0.55978179" target="_blank">TQ002721</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Ockham and Wisley Common </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.315332,-0.44886425" target="_blank">TQ082585</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.321586,-0.44578303" target="_blank">TQ084592</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.324397,-0.45429937" target="_blank">TQ078595</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.315559,-0.46607594" target="_blank">TQ070585</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Papercourt </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.296431,-0.51691552" target="_blank">TQ035563</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.301824,-0.51674171" target="_blank">TQ035569</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.298101,-0.50682095" target="_blank">TQ042565</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Puttenham and Crooksbury
Commons

</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.209487,-0.69150480" target="_blank">SU915464</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.199993,-0.72755667" target="_blank">SU890453</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Staines Moor </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.446449,-0.50486551" target="_blank">TQ040730</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Vann Lake and Ockley Woods</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.140408,-0.34894981" target="_blank">TQ156392</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Whitmoor Common </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.272147,-0.58937630" target="_blank">SU985535</a></td>
    </tr>
    <tr>
    <td> </td>
      <td>Thursley, Hankley and Frensham
Commons
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.156920,-0.73589165" target="_blank">SU885405</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.160943,-0.69287851" target="_blank">SU915410</a>,
<a href="https://www.google.com/maps/search/?api=1&query=51.157375,-0.77877893" target="_blank">SU855405</a></td>
    </tr>
     <tr>
      <td>West Sussex</td>
      <td>Arun Banks 
</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.880342,-0.53869261" target="_blank">TQ029100</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Arundel Park </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.864408,-0.55908521" target="_blank">TQ015082</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Buchan Hill Ponds </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.094503,-0.22348307" target="_blank">TQ245343</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Burton Park </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.950464,-0.61052480" target="_blank">SU977177</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Cow Wood & Harrys Wood </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.054410,-0.18934550" target="_blank">TQ270299</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Ebernoe Common </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.034067,-0.60802622" target="_blank">SU977270</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Forest Mere </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.063490,-0.83119874" target="_blank">SU820300</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Shillinglee Lake </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.071077,-0.61976244" target="_blank">SU968311</a></td>
    </tr>
      <tr>
      <td> </td>
      <td>St Leonards Ponds </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.064004,-0.28887397" target="_blank">TQ200308</a></td>
    </tr>
     <tr>
      <td> </td>
      <td>Wakehurst & Chiddingly Woods</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.068239,-0.097456905" target="_blank">TQ334316</a>, <a href="https://www.google.com/maps/search/?api=1&query=51.074203,-0.077226999" target="_blank">TQ348323</a></td>
    </tr>
      <tr>
      <td> </td>
      <td>Waltham Brooks </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=50.933451,-0.54272147" target="_blank">TQ025159</a>, <a href="https://www.google.com/maps/search/?api=1&query=50.927229,-0.54860766" target="_blank">TQ021152</a></td>
    </tr>
     <tr>
      <td>Wiltshire</td>
      <td>Coate Water </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.537737, -1.747096" target="_blank">SU188820</a></td>
    </tr>
  </tbody>
</table>






<h3 id="eels">When and where can I fish for eel?</h3>

<p><a href="index.html#eel">National byelaws apply</a> in the South East region</p>
<p>In the Thames byelaw area there is no close season when fishing for eels with rod and line in the tidal
River Thames downstream of the Thames Barrier.</p> 

<h3>When can I fish for brown and rainbow trout? </h3>
<p>The close season in all rivers, and for brown trout in
unenclosed stillwaters, is the period from:</p> 

<ul><li>1 October to 31 March within the Thames Byelaw Area and</li> <li>1 November to 2 April (dates inclusive) within the
Southern byelaw area.</li></ul>

<h3>When can I fish for migratory trout? </h3>
<p>The close season for migratory trout in all waters is the period 1 October to the 31 March in the Thames byelaw area and 1 November to the 30 April in the Southern Byelaw Area.</p>

<h3>When can I fish for salmon? </h3>
<p>The close season for salmon in all waters is the period 1 October to the 31 March in the Thames Byelaw Area and 3 October to the 16 January in the Southern Byelaw Area.</p>

<p>In the Thames Byelaw Area when fishing for salmon, trout, or rainbow trout during the
annual close season for coarse fish - 15 March to 15 June dates - you may only
fish with an artificial fly or lure. 

<p>In the Southern Byelaw Area during the annual close season for coarse fish - 15 March to 15 June - no person shall fish with rod and line for salmon, migratory trout or non-migratory
trout (including rainbow trout), other than with artificial fly or lure.</p>

<h2 id="legal-fishing-tackle-lures-and-bait">
<span class="number">3. </span>Legal fishing tackle, lures and bait</h2>


<h3>Lures and baits</h3>

<p>In the Thames Byelaw Area you must not fish with any form of gorge bait.</p> 

<p>A gorge bait is a piece of stick, strip of plastic or bone hidden in the bait parallel to the line. When swallowed a tug on the line causes the gorge to turn sideways in the fish's throat.</p>

<h3>Lead weight</h3>

<p>You must not use any form of lead weight attached to a fishing line other than those of 0.06 grams (size No. 8), or less, or of more than 28.35 grams (1 ounce).</p>

<p>"Lead weight" does not include lead incorporated into a weighted line, swim-feeder or fishing fly or lure.</p>



<!--<p>A minnow taken in a minnow trap for use as bait in the
waters from which it was taken is also permitted but requires the previous written consent
of the Environment Agency.</p>-->

<h3>Hooks</h3>

<p>In the Thames Byelaw Area you must not use more than three separate hooks attached to
the same rod and line.</p> 


<h3>Rods</h3>

<p>Rules around the number of rods permitted, use of landing nets, keepnets, gaffs or tailers are all covered in the <a href="index.html#use-of-rods">National Byelaws</a>.</p> 



<h2 id="catch-limits-size-limits-catch-returns">
<span class="number">4. </span>Catch limits, size limits, catch returns</h2>

<h3>Salmon and migratory trout - catch limits</h3>

<p>In the Thames Byelaw Area after the 16 June you must not take any more than two salmon a
day from rivers, streams, drains and canals.</p>

<h3>Coarse fish and eels - catch limits</h3>

<p>Across the South East region, <a href="index.html#catch-limits-size-limits-catch-returns">national byelaws apply</a>.</p>

<h3>Size limits - trout</h3>

<p>You must not take any trout in the Thames Byelaw Area that are less than 25cm, or migratory trout
less than 38cm.</p><p> In the Southern Byelaw Area you must not take any trout less than 23cm, and
migratory trout less than 38cm.</p> <p>The size is measured from the tip of the snout to the fork or cleft
of the tail when the fish is laid flat.</p>

<div class="logo-image"><img src="/public/images/fish_measure.png" width="" height="" alt=""></div>

</div>
</div>

</div>

  </div>

  <div data-sticky-element class="govuk-sticky-element">
    <a class="back-to-content" data-track-category="contentsClicked" data-track-action="backToContentsLinkClicked" data-track-label="contents" data-module="track-click" href="#contents">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
        <input id="url" name="url" type="hidden" value="https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/rod-fishing-rules-severn-and-trent-catchments">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-9f5e3818b735a3881a69a82bdd7e5edd66a1bc892cbc3487ceaf390216996360.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-b18efa45d0ff3dfd07638aad58b9964e510c8d4ef9c4a8a2d315683f55501ddd.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
