<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Rod fishing rules: Severn and Trent catchments - GOV.UK</title>

    <!--[if gt IE 8]><!--><link href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" media="screen" rel="stylesheet">
<!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" media="print" rel="stylesheet">

    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-a0097118fe9226ce1ffde1ccfeb86c61be3607915046196c99f68b9548485ad3.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-42de30dac218d01e072e6120b3d86b521270506a1eec4b49aff9eb90292122b4.css">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-2d1ec720ca3ed5fdfa280ea6f1812b54a4b9a9c5e646c4ae1d3541d41aa9100a.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-ccc3e9aa26c84159d0be3be7b6278901f8e1a8317068eff7090269d9ae196e75.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-3becddbc46926a1a333457fdf02e4bc2f3758408f8649d6d178396ecebc044e3.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-63130f3b3fe879797c3ec86076d758bc14d0ea75658f6852aa7c990623a07174.css">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-24a0b731342111a17efd3afa51a45ccac38f880c25f435097c1e90a38a339ef7.css" crossorigin="anonymous" integrity="sha256-JKC3MTQhEaF+/Tr6UaRcysOPiAwl9DUJfB6Qo4oznvc=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="YAuEYw/TCLB8h8zYxW59KICz2bOg8LFVytuuyVBD4TT26v4CNqYn6WT6bymeBiXVUMJikg/IWZF9RHvOmhhzSQ==">
<meta name="govuk:format" content="html_publication">
<meta name="govuk:schema-name" content="html_publication">
<meta name="govuk:analytics:organisations" content="&lt;EA199&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<meta name="govuk:content-id" content="c98573e8-f57a-4d69-927a-decc5e1faa07">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-55d4b23fd76fff985b4b6a53584e592585a67e62ca41fbd95952333ac08e738a.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body class="draft">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    
    
  
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"2","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/rod-fishing-rules-freshwater" data-track-options='{"dimension28":"2","dimension29":"Rod fishing rules: freshwater"}' class="" aria-current="false" href="/government/publications/rod-fishing-rules-freshwater">Rod fishing rules: freshwater</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="html-publication" lang="en">
      
<div class="publication-external">
  <ol class="organisation-logos">
      <li class="organisation-logo">
        <div class="govuk-organisation-logo department-for-environment-food-rural-affairs">
    <a href="/government/organisations/environment-agency" class="logo-container logo-link">

    <img class="logo-image" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/organisation/logo/199/EAlogo.png" alt="Environment Agency">

    </a>
</div>

      </li>
  </ol>
</div>

<header class="publication-header" id="contents">
  <div class="html-publication-title">
      <p class="context">Prototype  guidance</p>
    <h1>Regional rod fishing byelaws: Severn Trent (Midlands)</h1>
  </div>
  Published 27 December 2017
</header>

<div class="grid-row sidebar-with-body" data-module="sticky-element-container">
    <div class="column-quarter-desktop-only">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#overview-of-national-byelaws">
            <span class="app-c-contents-list__number">1.</span><span class="app-c-contents-list__numbered-text">Overview of Severn Trent (Midlands) Byelaws</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#when-and-where-you-can-fish">
            <span class="app-c-contents-list__number">2.</span><span class="app-c-contents-list__numbered-text">When and where you can fish</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#legal-fishing-tackle-lures-and-bait">
            <span class="app-c-contents-list__number">3.</span><span class="app-c-contents-list__numbered-text">Legal fishing tackle, lures and bait</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#catch-limits-size-limits-catch-returns">
            <span class="app-c-contents-list__number">4.</span><span class="app-c-contents-list__numbered-text">Catch limits, size limits, catch returns </span>
</a>        </li>
     
    </ol>
  </nav>

    </div>

  <div class="print-wrapper">
    <div class="print-meta-data">
      <p>
  <img class="print-meta-data-licence" src="https://assets.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png" alt="Open government licence min">
</p>
<p>
  © Crown copyright 2017
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available at https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/rod-fishing-rules-severn-and-trent-catchments
</p>



    </div>
  </div>

  <div class="column-three-quarters-desktop-only ">
    <div class="govuk-govspeak-html-publication">
  
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<h2 id="where-the-byelaws-rules-apply">
<span class="number">1. </span>Overview of Severn Trent (Midlands) Byelaws</h2>



<p>These byelaws for Severn Trent (Midlands) Region may apply to local waters or to whole river catchments areas - for example the River Severn and all its many tributaries.</p>

<div class="logo-image"><img src="/public/images/region-map-midlands.png" width="" height="" alt=""></div>

<p>These byelaws apply to anyone fishing with a rod and line for salmon, trout, coarse fish, eels, smelt and lamprey in all freshwater fisheries and tidal estuaries. </p>

<p>Separate byelaws apply to <a rel="external" href="http://naturalresources.wales/guidance-and-advice/business-sectors/fisheries/fishing/?lang=en">the River Wye</a>, which are regulated by Natural Resources Wales.</p>

<p>Private fisheries may enforce their own additional rules, but national and regional byelaws still apply.</p>


<h2 id="when-you-can-fish-close-seasons">
<span class="number">2. </span>When and where you can fish</h2>

<p>National coarse fishing close season rules apply across the Severn Trent (Midlands) region.</p>

<h3 id="salmon-close">Salmon</h3>

<p>You cannot fish for salmon and migratory trout (in any waters) from 8 October to 31 January.</p>
<p>You can fish for salmon from 1 February - 15 June with these restrictions:</p>
<ul><li>You may only use an artificial or natural fly</li>
<li>You may not use a float</li>
<li>You may not remove any salmon (alive or dead)</li>
<li>You must return all fish to the water unharmed</li></ul>

<h3>Trout</h3>

<p>You cannot fish for brown trout and rainbow trout in rivers, and for brown trout in unenclosed stillwaters, from 8 October to 17 March.</p>



<h3 id="weirs">Fishing near weirs</h3>

<p>You must not take, or attempt to take, fish by rod and line within a distance above or upstream of the crests, or below or downstream of the toe of these weirs:</p>


<ul> <li>15 metres above and 45 metres below Shrewsbury Weir  on the River Severn <a href="https://www.google.com/maps/search/?api=1&query=52.712642,-2.7398331" target="_blank">SJ501131</a></li>
<li>15 metres above and 25 metres below Powick Weir on the River
Teme <a href="https://www.google.com/maps/search/?api=1&query=52.169604,-2.2470568" target="_blank">SO832524</a>, and Carreghofa Weir on the River Tanat <a href="https://www.google.com/maps/search/?api=1&query=52.788945,-3.1082024" target="_blank">SJ254219</a></li>

<li>5 metres above and 15 metres below Tewkesbury Weir <a href="https://www.google.com/maps/search/?api=1&query=51.993520,-2.1732654" target="_blank">SO882328</a>, Maisemore
Weir <a href="https://www.google.com/maps/search/?api=1&query=51.893550,-2.2658828" target="_blank">SO818217</a> and Llanthony Weir <a href="https://www.google.com/maps/search/?api=1&query=51.862095,-2.2598886" target="_blank">SO822182</a> on the River Severn</li>
<li>15 metres above and 35 metres below Diglis Weir  on the River
Severn <a href="https://www.google.com/maps/search/?api=1&query=52.179538,-2.2251749" target="_blank">SO847535</a></li></ul>

<h3 id="canal-sssi">
Stillwaters in the Severn Trent (Midlands) region designated as Sites of Special Scientific Interest (SSSI)</h3>

<p>These are stillwaters which retain a close season.</p>

<table>
  <thead>
    <tr>
      <th>County</th>
      <th>Water</th>
      <th>OS grid ref / map</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Derbyshire</td>
      <td>Carver’s Rock</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.800855,-1.51197592" target="_blank">SK330227</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Cromford Canal</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=53.108457,-1.5548104" target="_blank">SK299569</a>,
<a href="https://www.google.com/maps/search/?api=1&query=53.064097,-1.4776699" target="_blank">SK351520</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Hilton Gravel Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.880393,-1.6314455" target="_blank">SK249315</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Ogston Reservoir</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=53.137634,-1.4394084" target="_blank">SK376602</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Morley Brick Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.97215,-1.4221927" target="_blank">SK389418</a></td>
    </tr>
    <tr>
      <td>Gloucestershire</td>
      <td>Frampton Pools</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.763831,-2.3593045" target="_blank">SO753073</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Soudley Ponds</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=51.798417,-2.49154" target="_blank">SO662112</a></td>
    </tr>
    <tr>
      <td>Herefordshire and Worcestershire</td>
      <td>Ashmoor Common</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.118417,-2.2175641" target="_blank">SO852467</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Bittell Reservoirs excluding Lower Bittell Reservoirs</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.373041,-1.9749852" target="_blank">SP018750</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Grimley Brick Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.24245,-2.2357453" target="_blank">SO840605</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Hewell Park Lake</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.319102,-1.9867518" target="_blank">SP010690</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Upton Warren Pools excluding the Sailing Lake</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.30285,-2.1290097" target="_blank">SO913672</a>, <a href="https://www.google.com/maps/search/?api=1&query=52.302881,-2.0967462" target="_blank">SO935672</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Brampton Bryan Park</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.33873,-2.9407705" target="_blank">SO360716</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Berrington Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.262959,-2.7208434" target="_blank">SO509630</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Flintsham and Titley Pools</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.224064,-2.9998317" target="_blank">SO318589</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.229544,-2.9897057" target="_blank">SO325595</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Moccas Park</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.076922,-2.9629792" target="_blank">SO341425</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Hurcott and Podmore Pools excluding Hurcott Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.398917,-2.2160032" target="_blank">SO854779</a></td>
    </tr>
    <tr>
      <td>Leicestershire</td>
      <td>Blackbrook Reservoir</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.752281,-1.3228746" target="_blank">SK458174</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Cave’s Inn Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.410865,-1.2105023" target="_blank">SP538795</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Frisby Marsh</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.749873,-0.985122" target="_blank">SK686174</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Groby Pool and Woods</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.669914,-1.2309827" target="_blank">SK521083</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Grantham Canal</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.877591,-0.89150309" target="_blank">SK747317</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.914725,-0.82660613" target="_blank">SK790359</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Barrow Gravel Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.744049,-1.1600561" target="_blank">SK568166</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Buddon Woods and Swithland Reservoir</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.725256,-1.1722627" target="_blank">SK560145</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Ashby Canal</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.685693,-1.4895906" target="_blank">SK346099</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.635077,-1.4295969" target="_blank">SK387043</a></td>
    </tr>
    <tr>
      <td>Nottinghamshire</td>
      <td>Clumber Park</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=53.262961,-1.0689684" target="_blank">SK622744</a>,
<a href="https://www.google.com/maps/search/?api=1&query=53.288775,-1.0369048" target="_blank">SK643773</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Thoresby Lake</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=53.226018,-1.0577863" target="_blank">SK630703</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Welbeck Lake</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=53.249954,-1.1321987" target="_blank">SK580729</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Attenborough Gravel Pits</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.901812,-1.2253978" target="_blank">SK522341</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Misson Line Bank</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=53.45681,-0.924672" target="_blank">SK715961</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Chesterfield Canal</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=53.330898,-0.91732921" target="_blank">SK722821</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=53.440875,-0.85431583" target="_blank">SK762944</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Kinoulton Marsh and Canal (Grantham   Canal)</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.868629,-0.99572363" target="_blank">SK677306</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.867566,-0.97643591" target="_blank">SK690305</a></td>
    </tr>
    <tr>
      <td>Shropshire</td>
      <td>Berrington Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.660428,-2.7037112" target="_blank">SJ525072</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Bomere, Shomere and Betton Pools</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.665633,-2.734847" target="_blank">SJ504078</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Brown Moss</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.951081,-2.6533511" target="_blank">SJ562395</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Cole Mere</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.893244,-2.8442276" target="_blank">SJ433332</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Fenemere</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.799889,-2.8246192" target="_blank">SJ445228</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Marton Pool, Chirbury</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.617486,-3.0412698" target="_blank">SJ296027</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Shelve Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.574834,-2.9827086" target="_blank">SO335979</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Sweat Mere and Crose Mere</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.868087,-2.8422534" target="_blank">SJ434304</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>White Mere</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.891242,-2.8724293" target="_blank">SJ414330</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Morton Pool &amp; Pasture</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.808099,-3.0384018" target="_blank">SJ301239</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Prees Branch Canal (Shropshire Union   Canal, Llangollen Branch)</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.901962,-2.7507342" target="_blank">SJ496341</a>, <a href="https://www.google.com/maps/search/?api=1&query=52.893882,-2.7491081" target="_blank">SJ497332</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Montgomery Canal: Aston Locks to Keepers   Bridge (Shropshire Union   Canal)</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.824622,-2.9987252" target="_blank">SJ328257</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.851868,-2.9651952" target="_blank">SJ351287</a></td>
    </tr>
    <tr>
      <td>Staffordshire</td>
      <td>Aqualate Mere</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.781585,-2.3424314" target="_blank">SJ770205</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Chasewater Heaths including Wyrely &amp; Essington Canal, Anglesey Branch </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.663402,-1.9393359" target="_blank">SK042073</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.661601,-1.9334244" target="_blank">SK046071</a>, <a href="https://www.google.com/maps/search/?api=1&query=52.669697,-1.9437636" target="_blank">SK 039 080</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Cop Mere</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.864414,-2.295551" target="_blank">SJ802297</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Doxey and Tillington</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.817954,-2.1409194" target="_blank">SJ906245</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Maer Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.942571,-2.3154287" target="_blank">SJ789384</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Cannock Extension Canal</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.637344,-1.9733586" target="_blank">SK019044</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.659818,-1.9718667" target="_blank">SK020069</a></td>
    </tr>
    <tr>
      <td>Warwickshire</td>
      <td>Alvecote Pools</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.642175,-1.6334496" target="_blank">SK249050</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Brandon Marsh</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.376194,-1.4358746" target="_blank">SP385755</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Coleshill and Bannerly Pools</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.471572,-1.7070023" target="_blank">SP200860</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Combe Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.411204,-1.4251373" target="_blank">SP392794</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Middleton Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.582182,-1.7210243" target="_blank">SP190983</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Stockton Railway Cutting and Quarry   excluding the Big Quarry Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.28139,-1.3564576" target="_blank">SP440650</a>, 
<a href="https://www.google.com/maps/search/?api=1&query=52.274025,-2.8162876" target="_blank">SO444643</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Ufton Fields</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.250351,-1.4404011" target="_blank">SP383615</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Ensors Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.509488,-1.4886865" target="_blank">SP348903</a></td>
    </tr>
    <tr>
      <td>West   Midlands</td>
      <td>Edgbaston Pool</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.454828,-1.9219629" target="_blank">SP054841</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Sutton Park</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.574333,-1.8568266" target="_blank">SP098974</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Swan Pool and the Swag</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.614859,-1.9423566" target="_blank">SK040019</a></td>
    </tr>
    <tr>
      <td> </td>
      <td>Fens Pools</td>
      <td><a href="https://www.google.com/maps/search/?api=1&query=52.495248,-2.1192628" target="_blank">SO920886</a></td>
    </tr>
  </tbody>
</table>

<h2 id="legal-fishing-tackle-lures-and-bait">
<span class="number">3. </span>Legal fishing tackle, lures and bait</h2>


<p>National rules apply in the Severn Trent (Midlands) region to the number of rods you can use.</p>

<h3>Lures, baits and weights</h3>

<p>You must not use any form of lead weight attached to a fishing line other than those of 0.06 grams (size No. 14 to No. 8), or less, or of more than 28.35 grams (1 ounce).</p>

<p>"Lead weight" does not include lead incorporated into a weighted line, swim-feeder or fishing fly or lure.</p>


<p>Where the coarse fish close season applies and you are fishing for eels, trout or salmon, you must not use any float or bait (including ground bait) other than artificial or natural fly (excluding bloodworms, jokers and other midge larvae), spinners, minnows, worms, prawns or shrimps.</p>




<h3>Keepnets and landing nets</h3>

<p>You must not use a keepnet or keepsack in waters where the close season for coarse fish applies (15 March to 15 June).</p>

<p>You must not keep salmon (including salmon parr) or trout in a keepnet or keepsack.<p>
    
<h3>Eels</h3> 

<p>In addition to the National Rules on fishing for eels, if you fish for eels during the coarse fish close season, you must not use a hook with a gape of less than 0.5 inches (12.7mm).</p>


<div class="logo-image"><img src="/public/images/hook_measure.png" width="" height="" alt=""></div>


<p>You may use either artificial or natural fly, spinners, minnows, worms, prawns or shrimps as bait, but not bloodworms, jokers and other midge larvae.


<p>You may keep an eel in a keepnet or keep sack, but not during the coarse fish close season. Eels must be returned to water from which they were caught.</p>
    

<h2 id="catch-limits-size-limits-catch-returns">
<span class="number">4. </span>Catch limits, size limits, catch returns</h2>
    

<p>For salmon and migratory trout catch limits, national byelaws apply.</p>

<h3>Trout</h3> 

<p>You must not take or kill trout under these size limits measured from the tip of the nose or snout to the fork or cleft of the tail:

<ul><li>All trout (except Rainbow trout) – up to 20cm in all regional waters</li>
<li>Rainbow trout – up to 20cm - caught in the waters of the Rivers Derwent and Amber, including their tributaries, which are:</li></ul>

<div style="background-color:grey;color:white;padding:20px;">
   <p>Above or upstream of their confluence at Ambergate, Derbyshire - <a href="https://www.google.com/maps/search/?api=1&query=53.059635,-1.4851844" target="_blank">SK346515</a> - excluding the stretch of the River Wye from Blackwell Mill near Buxton to Cressbrook Mill - <a href="https://www.google.com/maps/search/?api=1&query=53.251035,-1.7421756" target="_blank">SK173727</a>.</p>
<p>Above or upstream of Ashford-in-the-Water - excluding any reservoir or lake formed by the construction of a dam across the valley of those rivers or across one of their tributaries.</p>
</div>


<p>If you catch any immature or undersized fish unintentionally, you must return it immediately to the same water with as little injury as possible.</p>

<h3>Coarse (freshwater) fish</h3>

<p><a href="index.html#catch-limits-size-limits-catch-returns">National rules</a> apply across the Midlands region.</p> 
<p>All lengths are measured from the tip of the snout to the fork of the tail.</p>

<div class="logo-image"><img src="/public/images/fish_measure.png" width="" height="" alt=""></div>


</div>
</div>

</div>

  </div>

  <div data-sticky-element class="govuk-sticky-element">
    <a class="back-to-content" data-track-category="contentsClicked" data-track-action="backToContentsLinkClicked" data-track-label="contents" data-module="track-click" href="#contents">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
        <input id="url" name="url" type="hidden" value="https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/rod-fishing-rules-severn-and-trent-catchments">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-9f5e3818b735a3881a69a82bdd7e5edd66a1bc892cbc3487ceaf390216996360.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-b18efa45d0ff3dfd07638aad58b9964e510c8d4ef9c4a8a2d315683f55501ddd.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
