<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Rod fishing rules: North East - GOV.UK</title>

    <!--[if gt IE 8]><!--><link href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" media="screen" rel="stylesheet">
<!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" media="print" rel="stylesheet">

    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-a0097118fe9226ce1ffde1ccfeb86c61be3607915046196c99f68b9548485ad3.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-42de30dac218d01e072e6120b3d86b521270506a1eec4b49aff9eb90292122b4.css">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-2d1ec720ca3ed5fdfa280ea6f1812b54a4b9a9c5e646c4ae1d3541d41aa9100a.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-ccc3e9aa26c84159d0be3be7b6278901f8e1a8317068eff7090269d9ae196e75.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-3becddbc46926a1a333457fdf02e4bc2f3758408f8649d6d178396ecebc044e3.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-63130f3b3fe879797c3ec86076d758bc14d0ea75658f6852aa7c990623a07174.css">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-24a0b731342111a17efd3afa51a45ccac38f880c25f435097c1e90a38a339ef7.css" crossorigin="anonymous" integrity="sha256-JKC3MTQhEaF+/Tr6UaRcysOPiAwl9DUJfB6Qo4oznvc=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="YAuEYw/TCLB8h8zYxW59KICz2bOg8LFVytuuyVBD4TT26v4CNqYn6WT6bymeBiXVUMJikg/IWZF9RHvOmhhzSQ==">
<meta name="govuk:format" content="html_publication">
<meta name="govuk:schema-name" content="html_publication">
<meta name="govuk:analytics:organisations" content="&lt;EA199&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<meta name="govuk:content-id" content="c98573e8-f57a-4d69-927a-decc5e1faa07">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-411a438139fd1bd6b97f28fa72eddf76f6a776df1dea7938c6a8f4bf4feb650e.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-55d4b23fd76fff985b4b6a53584e592585a67e62ca41fbd95952333ac08e738a.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body class="draft">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    
    
  
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"2","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/rod-fishing-rules-freshwater" data-track-options='{"dimension28":"2","dimension29":"Rod fishing rules: freshwater"}' class="" aria-current="false" href="/government/publications/rod-fishing-rules-freshwater">Rod fishing rules: freshwater</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="html-publication" lang="en">
      
<div class="publication-external">
  <ol class="organisation-logos">
      <li class="organisation-logo">
        <div class="govuk-organisation-logo department-for-environment-food-rural-affairs">
    <a href="/government/organisations/environment-agency" class="logo-container logo-link">

    <img class="logo-image" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/organisation/logo/199/EAlogo.png" alt="Environment Agency">

    </a>
</div>

      </li>
  </ol>
</div>

<header class="publication-header" id="contents">
  <div class="html-publication-title">
      <p class="context">Prototype  guidance</p>
    <h1>Regional rod fishing byelaws: North East Region</h1>
  </div>
  Published 27 December 2017
</header>

<div class="grid-row sidebar-with-body" data-module="sticky-element-container">
    <div class="column-quarter-desktop-only">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#overview-of-national-byelaws">
            <span class="app-c-contents-list__number">1.</span><span class="app-c-contents-list__numbered-text">Overview of North East Byelaws</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#when-and-where-you-can-fish">
            <span class="app-c-contents-list__number">2.</span><span class="app-c-contents-list__numbered-text">When and where you can fish</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#legal-fishing-tackle-lures-and-bait">
            <span class="app-c-contents-list__number">3.</span><span class="app-c-contents-list__numbered-text">Legal fishing tackle, lures and bait</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#catch-limits-size-limits-catch-returns">
            <span class="app-c-contents-list__number">4.</span><span class="app-c-contents-list__numbered-text">Catch limits, size limits, catch returns </span>
</a>        </li>
     
    </ol>
  </nav>

    </div>

  <div class="print-wrapper">
    <div class="print-meta-data">
      <p>
  <img class="print-meta-data-licence" src="https://assets.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png" alt="Open government licence min">
</p>

<p>
  © Crown copyright 2017
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available at https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/rod-fishing-rules-severn-and-trent-catchments
</p>



    </div>
  </div>

  <div class="column-three-quarters-desktop-only ">
    <div class="govuk-govspeak-html-publication">
  
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<h2 id="where-the-byelaws-rules-apply">
<span class="number">1. </span>Overview of North East Byelaws</h2>



<p>These byelaws for the North East Region apply to anyone fishing with a rod and line for salmon, trout, coarse fish, eels, smelt and lamprey in all freshwater fisheries.</p>

<div class="logo-image"><img src="/public/images/north-east-region-map.png" width="" height="" alt=""></div>


<p>Within the North East Region there are rules that apply to:</p>

<ul><li>The entire North East Region</li><li>The Yorkshire Byelaw
Area only</li>
<li>The Northumbria Byelaw Area only - see the
map below</li></ul>
<div class="logo-image"><img src="/public/images/north-east-yorkshire-northumbria.png" width="" height="" alt=""></div>
<p>Private fisheries may enforce their own additional rules, but national and regional byelaws still apply.
</p>



<h2 id="when-you-can-fish-close-seasons">
<span class="number">2. </span>When and where you can fish</h2>

<p>Byelaws covering when and where you can fish across the entire North East Region are listed first in this section.</p> <p>Rules specific to the Northumbria Byelaw Region and the the Yorkshire Byelaw Region are listed beneath.</p>
 

<h3 id="canal-sssi">Canals and stillwaters retaining a close season</h3>

<p>One stretch of canal in the North East Region is subject to a close season (15 March to 15 June). This is:</p> 
<ul><li>The Aire and Calder Navigation between Castleford and Ferrybridge lock</li></ul>
<p>There is no statutory close season on any other canal, reservoir, lake or
pond for coarse fish.</p>

<h3 id="weirs">Fishing near weirs and other obstructions</h3>

<p>No fishing is allowed within a distance of 25 metres upstream and 95 metres downstream of the following structures, at the dates and times specified:</p>

<h4>At all times</h4>

<ul><li>Framwellgate Dam - River Wear</li>
<li>Ferens Dam - River Gaunless</li> 
<li>Tees Barrage - River Tees</li> 
<li>Broken Scar - River Tees</li> 
<li>Keilder Dam (downstream only) - River North Tyne</li> 
<li>Ruswarp Weir - River Esk (to
downstream side of Ruswarp road bridge</li></ul>

<h4>At night</h4>

<ul><li>Guyzance Mill - River Coquet</li>
<li>Pauperhaugh Bridge - River Coquet</li> 
<li>Wylam Bridge - River Tyne</li> 
<li>Dales House Weir - Dale House Beck</li> 
</ul>


<h4>
At night, or any time during September,
October and November</h4>

<ul><li>On the River Aln: Lesbury Weir, Denwick bottom Dam, Denwick Dam, Cannongate Dam, Filberthaugh Weir, Hulne Park Weir</li>
<li>On the River Coquet: CoquetLodge Dam, Acklington Dam, Felton</li>
<li>On the River Blyth: Humford Dam</li>
<li>On the River Wansbeck: Bothal Dam, Sheepwash Weir, Morpeth East Mill, Highford Dam, Olives Mill</li>
<li>On the River Tyne: Riding Mill Weir, Hexham Bridge
Weir, Devils Water Dam, Derwenthaugh Weir,
Haltwhistle Weir, Featherstone Weir, Haydon
Bridge Weir, Catton Bridge, Whitfield Dam,
Chollerford Weir, Otterburn Mill Weir, Tarret
Burn Burnmouth Falls, Esp Mill Falls, Roses
Bower Falls</li>
<li>On the River Wear: Prebends, Chester-le-Street Weir, Burn Hall Weir, Wallnook Dam, Black Ling Hole, Bedburn Gauging Weir, Jocks Bridge Weir</li>
<li>On the Killhope Burn (tributary of the River Wear): Burtree Falls</li>
<li>On the River Tees: Low Force (Holwick Falls), High Force, Bowes Falls, Bowlees Falls</li></ul>



<h3>Fishing at night</h3>

<p>Fishing in rivers, streams and drains for salmon or migratory trout between the end of
the first hour after sunset and the beginning of the first hour before sunrise in not permitted unless the bait used consists of a natural or artificial fly with each hook not exceeding 10mm in diameter.</p>

<h3>Fishing for eel</h3>

<p><a href="index.html#eel">National byelaws</a> for eel and shad apply in the North East Region.</p>

<h3 id="salmon-nclose">Northumbria Byelaw Region</h3> 

<p>These byelaws apply on all waters in the Region from and including the River Tees
northwards (not including the River Tweed or any of its tributaries).</p>

<h4>Salmon and trout close seasons - Northumbria</h4>

<ul><li>The close season for salmon: 1 November to 31 January</li>
<li>The close season for all non-migratory trout on rivers, streams, drains and canals, and for brown trout on all waters other than enclosed stillwaters: 1 October to 21 March - </li>
<li>The close season for brown trout on Kielder Water, Broomlee Lough, the Derwent Reservoir and East and West Hallington reservoirs is: 1 November to 30 April</li>
<li>There is no close season for rainbow trout on
any stillwater or for brown trout on enclosed
stillwaters.</li></ul>

<h3 id="salmon-yclose">Yorkshire Byelaw Region</h3> 

<p>These byelaws apply on all waters within the Region southwards of (but not including) the River Tees and its tributaries.</p>

<H4>Salmon and trout close seasons - Yorkshire</h4>

<p></p>
<ul><li>The close season for salmon: 1 November to 5 April</li> 

<li>The close season for all non-migratory trout in rivers, streams, drains and canals and for brown trout in all waters other than enclosed
stillwaters: 1 October to 24 March</li>
<li>There is no close season for rainbow trout in
any stillwater or for brown trout on enclosed
stillwaters</li></ul>


<h3>River Esk conservation area</h3>
<p>Fishing with a rod and line for salmon or migratory trout is prohibited in the River Esk between Ruswarp Weir and a line drawn due
west across the river from the southern-most end of Eskside Wharfe in Whitby.</p>
<p>Fishing with a rod and line for any kind of fish is prohibited in this area from 8pm or one hour after sunset (whichever is earlier) and
6am the following morning.</p>

<div class="logo-image"><img src="/public/images/whitby-esk.png" width="" height="" alt=""></div>


<h2 id="legal-fishing-tackle-lures-and-bait">
<span class="number">3. </span>Legal fishing tackle, lures and bait</h2>


<h3>Weights, lures and baits</h3>

<p>National byelaws on lead weights apply in this region.</p>

<p>On waters where the close season for freshwater fish applies, the only lures or baits which may be used during the close season are natural or artificial fly, minnow, worm,
shrimp, prawn, sand eel or artificial lures.</p>
<p>It is an offence to fish for salmon using anything other than an artificial fly or artificial lure before 16 June.</p>

<p>When using live bait, <a href="index.html#legal-fishing-tackle-lures-and-bait">National Byelaws</a> apply.</p>



<h3>Rods and nets</h3>

<p>Rules around the number of rods permitted, use of landing nets, keepnets, gaffs or tailers are all covered by <a href="index.html#legal-fishing-tackle-lures-and-bait">National Byelaws</a>, with this exception:</p> 

<h4>Keepnet rule - Yorkshire Byelaw Region</h4>
<p>On waters where there is a close season for coarse fish, keepnets cannot be used during that period.</p>

<h2 id="catch-limits-size-limits-catch-returns">
<span class="number">4. </span>Catch limits, size limits, catch returns</h2>

<p><a href="index.html#catch-limits-size-limits-catch-returns">National Byelaws</a> on catch limits and size limits apply across the North East region with the following exceptions:</p>



<h3>Size limits - Yorkshire Byelaw Region</h3>
<p>It is illegal to take trout less than 23cm in length</p>

<h3>Catch limits - Yorkshire Byelaw Region</h3>
<p>Not more than six trout may be taken away in one day without the written consent of the owner or occupier of the fishery.</p> <p>Day or
season tickets sometimes state higher catch limits and this may be taken as written consent. Any lower limits on a ticket must be
observed.
</p>

<h3>Size limits - Northumbria  Byelaw Region</h3>
<h4>It is illegal to take fish less than the size limits listed below:</h4>

<ul><li>Salmon: 30 cm </li>
<li>Migratory trout: 25.4cm</li></ul>
<h4>And for non-migratory trout:</h4>

<ul><li>River Tees below Egglestone Abbey Bridge: 22.5cm</li>
<li>River Wear below Harelaw Bridge: 22.5cm</li>
<li>River Coquet below Pauperhaugh Bridge: 22.5cm</li>
<li>River Tyne below Hexham Bridge: 22.5cm</li>
<li>River Tees and tributaries above High Force: 17.5cm</li>
<li>River Lune and tributaries above Selset Reservoir: 17.5cm</li>
<li>River Balder and tributaries above Balderhead Reservoir: 17.5cm</li>
<li>Kilton Beck and tributaries above Lockwood Beck Reservoir: 17.5cm</li>
<li>Burnhope Burn and tributaries above Burnhope Reservoir: 17.5cm</li>
<li>Waskerley Beck and tributaries above Tunstall Reservoir: 17.5cm</li>
<li>Any other waters covered by Northumbria byelaws: 20cm</li></ul>

<p>Fish are measured from the tip of the snout to the fork of the tail. Undersized fish must be returned to the water immediately.</p>

<div class="logo-image"><img src="/public/images/fish_measure.png" width="" height="" alt=""></div>



</div>
</div>

</div>

  </div>

  <div data-sticky-element class="govuk-sticky-element">
    <a class="back-to-content" data-track-category="contentsClicked" data-track-action="backToContentsLinkClicked" data-track-label="contents" data-module="track-click" href="#contents">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
        <input id="url" name="url" type="hidden" value="https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/rod-fishing-rules-severn-and-trent-catchments">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-9f5e3818b735a3881a69a82bdd7e5edd66a1bc892cbc3487ceaf390216996360.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-b18efa45d0ff3dfd07638aad58b9964e510c8d4ef9c4a8a2d315683f55501ddd.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
